.svn
test
*.o
*.a
*.so
*.swp
*.patch
tags
*.dylib*
build/
cJSON_test
cJSON_test_utils
libcjson.so.*
libcjson_utils.so.*
*.orig
.vscode
.idea
cmake-build-debug
*.lst
*.lss

*.d
*.slo
*.lo
*.obj
*.gch
*.pch
*.ipch
*.dll
*.lai
*.la
*.lib
*.exe
*.out
*.app
*.bak
*.suo
*.VC.db
.vscode/**
.vs/**
.idea/**
cmake-build-debug/**
cmake-build-release/**
*.pdb
*.dll
*.tlog
*.idb
*.ilk
*.exp
*.recipe
